<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | freeCodeCamp.org</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <div class="container">
      <section class="usage">
      <h3>Usage:</h3>
      <ul>
        <li>
          <p>api/date-string</p>
          <p>Parameters:</p>
          <ul>
            <li>
              date-string: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date#date_time_string_format">date time string</a>
            </li>
          </ul>
          <p>Returns: JSON object {unix: timestamp, utc: UTC-date-time}<p>
          <p>Example:</p>a
          <a href="api/2015-12-25">[project url]/api/2015-12-25</a>
        </li>
        <li>
          <p>api/timestamp</p>
          <a href="api/1451001600000">[project url]/api/1451001600000</a></li>
      </ul>
     </section>

      <h3>Example Output:</h3>
      <p>
        <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
      </p>
    </div>
    <div class="footer">
      <p>
        By <a href="" >Gingerbugs</a>
      </p>
    </div>
  </body>
</html>
